@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

body {
  background-color: rgb(200, 214, 234);
}

body,
input,
button {
  font-size: 12pt;
  font-family: 'Archivo', sans-serif;
}

main h2 {
  text-align: center;
}

footer {
  margin: 12px auto;
  text-align: center;
}

div.buttons_container {
  display: flex;
  flex-direction: column;
  margin: 16px 0px;
  gap: 8px;
}

button#btn-def,
button#btn-go,
button#btn-local {
  background-color: black;
  border: 0;
  color: white;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
}

input {
  border: 2px solid black;
  border-radius: 5px;
  line-height: 22px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input#lat,
input#lng {
  width: 100%;
  box-sizing: border-box;
}

div.inputs_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

div.radius_container {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 0px 10px;
  margin: 10px 0px;
}

input#ran {
  flex-grow: 1;
}

input#ran_value {
  border: 1px solid white;
  outline: 0px;
}

input#ran_value:focus {
  background-color: rgba(0, 0, 0, 0.05);
}

div#map-container {
  border: 2px solid black;
  height: 50vh;
}
